<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .user-label {
            font-size: 20px;
        }
        .result{
            margin-top: 20px;
        }
    </style>
    <script type="text/javascript">
        function getRecommendMovies(){
            var userId = document.getElementById("userId").value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                   // Typical action to be performed when the document is ready:
                   document.getElementById("result").innerHTML = xhttp.responseText;
                }
            };
            xhttp.open("GET", "/GetRecMovies?userId=" + userId, true);
            xhttp.send();
        }
    </script>
</head>
    <body>
        <h1>Movie recommendation</h1>
        <br/>
        <div>
            <label class="user-label">User Id <spane style="font-size: 18px; font-style: italic;">(select User Id in range [1, 270896])</spane>:</label> &nbsp;&nbsp;
            <input id="userId" /> &nbsp;&nbsp;
            <button type="button" onclick="getRecommendMovies()">Recommend</button>
        </div>
        <div id="result" class="result">
        </div>
    </body>
</html>